*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.content .sub h1{
    color: #EEA47F;
    font-size: 50px;
}
.main-container{
    height: 100vh;
    background: url(img/main\ bg.png);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -560px;
    background-position: center;
    align-items: center;
    padding: 0 10%;
}

.content{
    margin-left: -50px;
    margin-top: 50px;
}

.content h1{
    color: #fff;
    font-size: 75px;
    
}

.content h2{
    margin-top: 20px;
    color: #EEA47F;
    font-size: 30px;
}

.content p{
    margin-top: 20px;
    line-height: 23px;
    color: #fff;

}

.section{
    width: 100%;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

header{
    display: flex;
    padding: 30px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 500ms;
    justify-content: space-between;
    background-color: #01539D;
    padding-top: 15px;
    padding-bottom: 10px;
    z-index: 11; /*para magstay yung navbar kahit iniiscroll*/
}

nav{
    margin-right: 100px;
}

nav a{
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    padding: 10px 1px;
    transition: 200ms;
    font-weight: bold;
}

nav a:hover{
    color: #EEA47F;
}

header img{
    width: 35px;
    border-radius: 17px;
    margin-left: 100px;
}

